body{
    background-color: cyan;
}
h1{
    color: black;
    padding: 50px;
    background-color: red;
    border: 10px red solid;
    margin: 20px;
}

#t1{
    color: black;
    padding: 50px;
    background-color: orangered;
    border: 10px orangered solid;
    margin: 40px;
}

#t2{
    color: black;
    padding: 50px;
    background-color: yellow;
    border: 10px yellow solid;
    margin: 40px;
}

#t3{
    color: black;
    padding: 50px;
    background-color: chartreuse;
    border: 10px chartreuse solid;
    margin: 40px;
}

#t4{
    color: black;
    padding: 50px;
    background-color: dodgerblue;
    border: 10px dodgerblue solid;
    margin: 40px;
}

#t5{
    color: black;
    padding: 50px;
    background-color: blue;
    border: 10px blue solid;
    margin: 40px;
}

#t6{
    color: black;
    padding: 50px;
    background-color: magenta;
    border: 10px magenta solid;
    margin: 40px;
}